@{
    ViewData["Title"] = "Home Page";
}

<div id="home">
    <h1> SWII6 TP 02</h1>
    <h1> </h1>
    <h1> </h1>
    <h2> ADS 671 </h2>
    <h1> </h1>
    <h1> </h1>
    <h1> </h1>
    <h1> </h1>
    <h3>Huandrio Avelino e João Antônio </h3>

</div>